#projectContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
}
.project{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    /*filter: blur(.65px);*/
    transition: all .75s;
    position: relative;
    top: 0;
    left: 0;
}
.project:hover{
    -webkit-filter: drop-shadow(8px 8px 8px grey);
    filter: drop-shadow(8px 8px 8px grey);
    top: -3px;
    left: -1px;
}
.project h1{
    color: #EEE;
    background: rgba(0,0,0,.7);
    border-bottom: 0px solid transparent;
}
/*.project button{*/
/*    width: 50%;*/
/*    border-radius: 300px;*/
/*    height: 10%;*/
/*    color: black;*/
/*    background-color: #DEDEDE;*/
/*    background-color: rgba(222,222,222,.7);*/
/*    border-color: #ABABAB #EFEFEF #EFEFEF #ABABAB;*/
/*    font-size: 30px;*/
/*    color: rgba(0, 0,0 , .7);*/
/*}*/