.time{
    text-align: center;
    flex-grow: 1;
    border-bottom: 2px solid #a5a5a5;
    transition: all 500ms ease-in-out;
}
.expanded{
    flex-grow: 50;
    font-size: 16px
}
.shrunk{
    flex-grow: 1;
    font-size: 8px;
}
.shrunkC{
    font-size: 0;
    /*display: none;*/
    /*visibility: none;*/
}
.showC{
    font-size: 16px;
    /*display: inline;*/
    /*visibility: visible;*/
}
#container{
    display: flex;
    flex-direction: column;
    min-height: 85vh;
    width: 100%;
    overflow-y: auto;
    cursor: pointer;
    left: 0;
    top: 0;
}
#container h1{
    border: none;
    text-align: center;
}
.content {
    transition: all 500ms ease-in-out;
}