<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" type = "text/css" href = "styles.css">
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <title>Noah's portfolio website</title>
</head>
<header>
    <div id = "navigation">
        <a href = "/"><div id = "noahcs">Noah<span style = "color: #ff007b;">Cs</span></div></a>
        <a href = "/"><div class = "nItem">Home</div></a>
        <a href = "/about"><div class = "nItem">About</div></a>
        <a href = "/projects"><div class = "nItem">Projects</div></a>
        <a href = "/faq"><div class = "nItem">FAQ</div></a>
        <a href = "/contact"><div class = "nItem">Contact</div></a>
    </div>
     </header>
     
<body>
   

</body>
<script src = "scripts.js"></script>
</html>