  html, body {
    margin:0;
  }
  #draw{
      width: 100vw;
      height: 100vh;
      cursor: none;
  }
  footer{
      bottom: 0;
      background: #083b44;
  }
  h1{
    height: 10vh;
  }
  input{
    width: 100vw;
  }
  
  