.time{
    text-align: center;
    flex-grow: 1;
}
#container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;

}
#t0{
    background: #0b94dd;
}
#t1{
    background: #0b94cd;
}
#t2{
    background: #0b94bd;
}
#t3{
    background: #0b94ad;
}
#t4 {
    background: #0b949d;
}
#t5{
    background: #0b948d;
}
#t6{
    background: #0b947d;
}

/*#t0{*/
/*    background: #0b3c5d;*/
/*}*/
/*#t1{*/
/*    background: #328cc1;*/
/*    color: #1d2731;*/
/*}*/
/*#t2{*/
/*    background: #0b3c5d;*/
    
/*}*/
/*#t3{*/
/*    background: #328cc1;*/
/*    color: #1d2731;*/
/*}*/
/*#t4 {*/
/*    background: #0b3c5d;*/
/*}*/
/*#t5{*/
/*    background: #328cc1;*/
/*    color: #1d2731;*/
/*}*/
/*#t6{*/
/*    background: #0b3c5d;*/
/*}*/

.content{
    display: none;
    overflow-x: auto;
    overflow-y: auto;
    font-size: 0;
}
.content p {
    background: #d9b310;
    opacity: 50%;
}